h1 {
  color: blue;
  text-align: center;
}

.row {
  width: 100%;
  height: 60px;
  float: left;
}

.square {
  float: left;
  margin: 10px;
  background-color: blue;
  height: 50px;
  width: 50px;
}
