h1 {
  color: blue;
  text-align: center;
}

.main-board {
  margin: auto;
  width: 50%;
}

.row {
  width: 100%;
  height: 50px;
  float: left;
}

.square {
  float: left;
  background-color: black;
  height: 50px;
  width: 50px;
}
