h1 {
  color: blue;
  text-align: center;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 15px 0;
}

/***********************************************************
FIRST ROW OF BOXES
***********************************************************/

.first_row .box {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 9px;
  float: left;
}

.first_row {
  margin: auto;
  width: 50%;
  height: 75px;
  border: 3px solid green;
  padding: 10px;
}

/***********************************************************
SECOND ROW OF BOXES
***********************************************************/

.second_row .box {
  width: 50px;
  height: 50px;
  background-color: blue;
  margin: 9px;
  float: left;
}

.second_row {
  margin: auto;
  width: 50%;
  height: 75px;
  border: 3px solid green;
  padding: 10px;
}